======= NEW MEDIA =============
===============================*/@media screen and (min-width:1200px) and (max-width:1920px){.profile-img-space{width:28%;}
.profile-content-space.space-right{width:72%;}
}
@media (max-width:1920px){}
@media (max-width:1400px){.rating-area strong{font-size:14px;}
.checkbox_lesson_label span{font-size:13px;}
.status-block{width:50%;}
}
@media (max-width:1350px){.search-view #lesson-options .checkbox_lesson_label,
.search-view .hide-check-box-sec .checkbox_lesson_label{width:102px;margin-left:5px;}
.search-view .lesson-type-box{padding-left:0;}
.search-view .tutor_section #lesson-options button.service-show,
.search-view .assignment_section #lesson-options button.service-show,
.search-view .resources_section #lesson-options button.service-show{top:12px;}
}
@media (max-width:1200px){.request-check input[type="checkbox"]{bottom:inherit;}
.search-view input[type="checkbox"]{top:1px;}
.navbar-nav>li>a{font-size:12px;}
.instant-book-filter .request-check input[type="checkbox"]{top:0px;}
label.request-check.checkbox span{padding-left:22px;}
.search-view label.request-check.checkbox span{margin-top:0;}
.profile-photo img{margin:0 auto;margin-bottom:30px;width:225px;}
.active-btn,
.pending-btn{width:120px;}
.sec-content-heading{font-size:22px;}
.sec-content{font-size:20px;}
.review-img h3{font-size:16px;}
.rating-area strong{font-size:12px;}
.promo-code-input,
input.start-date,
.end-date,
.promo-code .select,
.promo-price{width:100%;border-right:1px solid #73777C !important;border-left:1px solid #73777C !important;margin:10px 0;}
.add-btn{width:100%;}
.date-arrow{display:none;}
.desc-container{font-size:16px;}
.verify-block h2{font-size:16px;}
h3.univ-name{font-size:16px;}
h3.univ-sub,
.univ-date{font-size:14px;}
.addbtn{font-size:14px;background-size:14px !important;}
.add-btn.big{width:auto;}
.price-area{float:none;}
.create-new{width:240px;}
.sliderHeading span{font-size:16px;}
.heading-container{margin-bottom:40px;}
.viewall-btn{right:10px;margin-right:0px;padding:0px 24px 0px 0px;background-size:20px;}
.reference-tab .resp-tabs-list li{font-size:18px;}
h1.subscribe-tutor-heading,
.engagements-status,
.active-tutor-contnet h1{font-size:24px;}
.need-tutor-sec{padding:0px 25px 20px 25px;}
.subscribe-tutor-sec{padding-left:20px;}
.message_by{padding:20px 0px;text-align:center;}
.message_by_img{width:60px;height:60px;border-radius:50%;}
.filters-section .text-right{text-align:left;}
.message-name,
.message-date{font-size:16px;}
.message-content{font-size:14px;}
.message-accept,
.message-value{font-size:16px;}
.options-btn{width:150px;}
.lesson-form-input{width:100%;margin:10px 0px;}
.start-time{width:40%;margin:10px 0px;border-left:1px solid #73777c !important;}
.end-time{width:40%;margin:10px 0px;}
.lesson-date-arrow{width:20%;margin:10px 0px;}
.lesson-form .add-btn{width:120px;margin:10px 0px;}
.options-btn{width:120px;}
.group-list-img-block img{height:120px;width:120px;}
.student-new-sec .lesson-date-arrow{width:6%;padding:16px 0px;background:#fff;}
.student-new-sec input.lesson-form-input{width:26%;}
.student-new-sec input.end-time,
.student-new-sec input.start-time{width:20%;}
.search-tab .resp-tabs-list li{width:24%;padding:5px 0px !important;text-align:center;font-size:16px;margin:0px 1% !important;}
.search-view .tooltip-pop{position:absolute;}
.form-label{text-align:left;}
}
@media (max-width:991px){.inner-header .navbar-nav>li{padding:0px;}
.inner-header .navbar-nav>li>a{padding:30px 21px 6px 22px;}
.inner-header .navbar-nav>li>a.become-tutor{border-color:#b6b6b6;margin:13px 19px 13px 19px;height:32px;padding:4px 12px 4px 12px;font-size:14px;}
.sidebar{padding-right:15px;}
.sidebar-menu ul li{border-bottom:none;}
.sidebar-link{margin-bottom:30px;}
.qualifications .check-block{width:32.33%;display:inline-block;}
#hide-sub-fee .check-block{width:100%;}
.checkbox-group.neighborhoods .check-block{width:32%;display:inline-block;}
.reference-tab .resp-tabs-list li{font-size:16px;}
.active-tutor-contnet{padding:20px 20px;}
#resources-popup .modal-dialog,
#engageModal .modal-dialog{width:90%;}
.other-user-img img{width:75px;height:75px;}
#resource-container{background:#f5f5f5;padding:25px 0px;}
.form-inputs{margin-top:5px;}
.profile-btn{padding:10px 18px;}
.search-view #tutor-filter-section .filters-section .filter-label{text-align:center;padding:14px;}
.tuti-form button.checkbox-show{}
.search-view .filters-section{margin:0px 5px;}
.search-view .reference-tab .resp-tab-content{padding-top:0;}
.search-view .tutor-form{padding-right:15px;}
.search-view .tutor-form .check-block{margin:5px 0;}
.your-list{text-align:center;}
.your-list input.options-btn.listing-option-btn{float:none;}
.st-slider .item {width: 33.33%;}
.st-slider .item:nth-child(4n+1) {clear: initial;}
.st-slider .item:nth-child(3n+1) {clear: left;}
}
@media (max-width:767px){#banner-home{height:400px;}
.tutor-profile-info img{float:none;}
.inbox-msg-right-sec{padding-left:15px;}
.report-text{padding:7px 0 7px 0;}
.review-star{margin:0 auto;}
.mob-space{padding-left:0;padding-right:0;}
.filters-section .text-right{float:left;padding-left:0;padding-right:0;display:block;text-align:left;}
#resource-container{padding:25px 0px;}
.form-inputs input[type="text"],
.form-inputs input[type="email"],
.form-inputs textarea,
.form-inputs select{margin:3px 0;}
.phone-verify{margin:3px 0;}
.right-block{margin-bottom:22px;}
.phone-verify{border-left:2px solid #D3D3D3;}
.sidebar{margin-bottom:22px;}
#menu-top{display:block !important;}
#menu-top{font-size:14px;font-family:'FaricyNewBold';color:#fff;padding:10px 8px;margin:0 -15px;background:#565a5c;}
#menu-arrow{padding-left:16px;cursor:pointer;}
#menu-list{display:none;}
.new-sub input[type="button"]{margin:3px 0;}
.sec-content{font-size:20px;padding:25px 15px;}
.disconnet-btn-container,
.connect-btn-container{padding:15px 0px;}
.form-inputs select{}
.linkText{color:#ff575b;font-size:14px;}
.sidebar{margin-bottom:0;}
.single-review{text-align:center;}
.rating-area{text-align:left;}
h2.resp-accordion{font-size:18px !important;background:#EDEFED !important;float:left;border-top:1px solid #C1C1C1 !important;width:100%;text-transform:capitalize;}
h2.resp-accordion:first-child{border-bottom:none;}
.upload-resource-btn{padding:13px 36px;}
.material-list .select{margin-bottom:10px;}
input.flatbtn{padding:10px 20px;}
.sliderHeading{font-size:18px;width:100%;}
.sliderHeading span{font-size:14px;}
.viewall-btn{top:100%;margin-top:0px;left:10px;width:90px;height:22px;}
.material-list .textarea{margin-bottom:10px;}
button.material-show{top:35%;right:-20px;}
.reference-about-desc,
.referece-edit-sec.{margin-top:20px;}
.reference-about-desc::after{right:0;left:0;top:-30px;border-left:15px solid transparent;border-right:15px solid transparent;border-bottom:15px solid #edefed;margin:0 auto;width:15px;}
.references-content input[type="email"]{margin-top:20px;}
button.send-req-mail,
button.import-contacts{margin:10px auto;}
.resp-tab-content .references-content img{margin:10px auto;}
.subscribe-tutor{padding-right:15px;padding-left:15px;}
.subscribe-tutor-sec{padding-left:0px;text-align:center;}
.need-tutor-sec{padding:0px 15px;text-align:center;padding-bottom:30px;}
.engagements-active-block{margin-bottom:30px;}
.active-tutor-contnet{padding:20px 25px;}
.active-tutor-contnet h3 span sup{font-size:14px;}
.engagements-container{width:100%;}
.expired-engagements-sec{text-align:center;}
.engagements-status{text-align:center;}
.engagements-content-sec{padding:50px 0px 80px 0px;}
.expired-engagements-sec{margin-top:50px;}
#resources-popup .modal-dialog,
#engageModal .modal-dialog{width:auto;margin:10px;}
.modal-body{padding:15px;}
.payment-block{width:47.2%;min-height:230px;float:left;}
.method-list-option ul.method-options{width:100px;left:0;padding:6px;margin:auto;text-align:left;}
.method-list-option ul li{margin:5px 0px;}
.method-list-option ul li a{font-size:14px;padding:6px 0px 8px 10px;}
.your-list.clearfix{text-align:center;}
.group-list-option ul.group-options{width:250px;}
.group-list-option ul li a{font-size:14px;padding:12px 0px 12px 30px;text-align:left;}
.manage-group,
.edit-group,
.duplicate-group,
.delete-group,
.view-class,
.remove-class,
.withdraw-group,
.report-group{background-size:20px;}
.group-list-option ul li{margin:0px 15px !important;}
.learn-more a{font-size:14px;}
.student-pro-detail input{padding:8px;width:180px;}
.student-link-btn{padding:8px 20px 8px 20px;font-size:15px;}
.group-list-img-block img{margin:20px auto 10px auto;}
.group-list-img-block img{margin:20px auto 10px auto;}
.group-list-content{text-align:center;}
.student-new-sec .lesson-date-arrow{width:20%;}
.student-new-sec input.lesson-form-input{width:100%;}
.student-new-sec input.end-time,
.student-new-sec input.start-time{width:40%;}
h2.resp-accordion{font-size:18px !important;float:left;border-top:1px solid #FFFFFF !important;width:100%;text-transform:capitalize;background:#FF575B !important;color:#fff;}
.popup-tab .resp-tab-content{border:none;border-top:1px solid #d7dcdc;padding:30px 19px;background:#EDEFED;overflow:hidden;}
.message-name{margin-top:10px;}
.message-date{margin-bottom:10px;}
.options-btn{float:none;margin-bottom:15px !important;}
.group-list-option ul.group-options{width:250px;left:0;right:0;margin:auto;}
.group-list-option ul:before{content:'';width:30px;height:14px;position:absolute;top:-14px;right:0;left:0;margin:auto;}
.profile-btn{font-size:15px;width:100% !important;}
.space-right{padding-right:15px;}
.nav_bar{height:auto;padding:20px 15px;border-right:1px solid #dbdfdf;}
.mob-navigation{margin-top:62px;padding-top:30px;}
.inner-header-logo{display:none;}
.inner-header{padding:8px 65px;}
.sidebar-menu ul li a{font-size:15px;}
.form-label{text-align:left;}
.sidebar{padding-right:0px;}
.instant-book-filter .request-check input[type="checkbox"]{top:12px;bottom:inherit;}
.inbox-sec .container{display:block;}
.start-taining-box{padding:30px 0px 50px 0px;}
.educators-gallary{position:relative;max-height:100%;min-height:300px;display:block;margin-bottom:30px;height:auto;}
.file-type{font-size:14px;}
.resource-dropzone-content{width:250px;}
.resource-dropzone-content img{width:100px;}
.ezdz-dropzone{margin:15px !important;}
}
@media (max-width:479px){#resource-container{padding:25px 0px;}
.checkbox-group.neighborhoods .check-block{width:100%;}
.student-detail-name{padding-bottom:10px;margin-bottom:5px;width:100%;}
.student-detail-name::after{width:35px;height:2px;background:#FF575B;content:"";position:absolute;left:0;bottom:0;}
.student-pro-detail{width:100%;padding:0px;}
.payment-block{width:98%;padding:30px;float:initial;min-height:initial;}
.payment-section{display:block;}
.your-list{text-align:center;}
.your-list-title{display:block;}
.notification-form label.notification.checkbox span{margin-top:25px;}
}
@media screen and (min-width:1200px) and (max-width:1599px){.features img{height:45px;}
.features h3{font-size:20px;}
.vid-play-btn.img-responsive{width:115px !important;height:115px;}
.verify-img{width:70px;}
#menu ul li{padding:0 14px;}
.tutify-fb-friends{width:20%;}
.material-list .select{font-size:16px;}
.material-list .price-input{font-size:14px;padding:7px 4px 7px 4px;}
.material-list-price{padding-right:0;padding-left:0;}
}
@media screen and (min-width:768px) and (max-width:1199px){.video-slider-content p{font-size:16px;margin-top:10px;}
.heading-sub-title{font-size:16px;}
.verify-img{width:50px;}
ul.service-list img,
ul.right img{margin-right:5px;width:25px;}
}
@media screen and (min-width:992px) and (max-width:1279px){}
@media screen and (min-width:992px) and (max-width:1199px){.features{padding-left:15px;}
.features img{height:35px;}
.features h3{font-size:18px;}
.request-form{width:300px;}
.features img{height:30px;}
.features h3{font-size:16px;}
.vid-play-btn.img-responsive{width:100px !important;height:100px;}
.educators-gallary{height:268px;}
.educator-img-txt{font-size:25px;}
.educator-img-txt sup{font-size:15px;}
.video-slide{height:500px;}
.inner-header .navbar-nav>li>a.become-tutor{border-color:#b6b6b6;margin:0px 8px;}
#menu ul li{padding:0px 13px;}
.tutify-fb-friends{width:25%;}
}
@media screen and (min-width:768px) and (max-width:991px){.tutor-activities img{width:30px;margin:0 auto;}
.features img{height:25px;}
.features h3{font-size:14px;}
.features{padding:0px;}
.navbar-nav>li>a{padding:5px 10px 5px 10px;}
#header .logo img{}
.how-work a{padding:7px 20px;font-size:16px;}
.banner-features-sec{padding:0px;}
.vid-play-btn.img-responsive{width:80px !important;height:80px;}
.educators-gallary{height:203px;}
.footer-top-sec h4{font-size:15px;padding-bottom:25px;margin-bottom:20px;}
.footer-top-sec ul li a{font-size:13px;}
.footer-top-sec ul li a:hover{padding-left:15px;}
.video-slide{height:400px;}
.inner-header-serach-sec input[type="search"]{font-size:15px;padding:10px 0px 10px 25px;background-size:20px;}
.inner-header .navbar-nav>li>a{padding:17px 19px 15px 19px;position:relative;}
.inner-header .navbar-nav>li>a img{width:25px;}
#menu ul li{padding:0 10px;}
.inner-container{padding-right:0px;}
.tutify-fb-friends{width:33%;}
.teach-child-sec-txt h1{font-size:24px;}
}
@media screen and (min-width:280px) and (max-width:991px){.request-form{position:relative;right:0;top:0;padding:0px;border:1px solid #000;width:100%;margin:50px 0;}
.educator-img-txt{font-size:20px;}
.educator-img-txt sup{font-size:12px;}
.dashboard-profile-picture img{width:400px;margin:0 auto;}
.student-subscribe-tutor{display:initial;}
.subscribe-tutor{border-right:0;}
.need-tutor-sec{border-left:0;margin-top:20px;}
}
@media screen and (min-width:0px) and (max-width:767px){#header{padding-top:15px;background:#4A4645;position:relative;}
.usr-detail{margin:22px;}
.usr-detail img{display:inline-block;width:42px !important;height:42px;}
.usr-detail strong{color:#fff;margin:6px 10px;display:inline-block;}
.mob-navigation ul{padding-top:10px;}
.modal-dialog.login-model{width:90% !important;margin:28% auto;}
#header .logo{z-index:2;float:left;width:150px;margin:0 auto;position:absolute;left:0;right:0;}
.text-jumbo{font-size:44px;}
.search-bar .form-overlap{width:100%;}
.features{border-right:1px solid rgba(255, 255, 255, 0.30);border-bottom:1px solid rgba(255, 255, 255, .30);width:50%;text-align:center;margin:0px 0px;padding:8px 0px 8px 0px;}
.features h3{font-size:16px;}
.features img{height:30px;}
.features-sec{background:rgb(241, 68, 88);position:initial;padding:0px;}
.app-account{padding:0;}
#footer,
.degree,
.degree-period,
.tutor-profile,
.tutor-about-child-sec{text-align:center;}
.footer-top-sec img{margin:0 auto;}
.footer-top-sec h4{padding-bottom:20px;margin-bottom:20px;margin-top:50px;}
.footer-top-sec h4::after{left:0;margin:auto;right:0;}
.educators-gallary{position:relative;height:auto;display:block;margin-bottom:30px;}
.educator-img,
.teach-child-sec img{width:100%;}
.teach-parent,
.tutor-profile h3{padding:0px 0px;}
.teach-child-sec{margin:10px 0;}
#video-slider .owl-prev,
#video-slider .owl-next{width:40px;height:60px;}
.video-slider-content h1{font-size:45px;}
.video-slider-content p{font-size:14px;margin-top:0px;display:none;}
.vid-play-btn.img-responsive{width:60px !important;height:60px;}
.heading-sub-title{font-size:14px;}
.search{margin:10px 0px 20px 0px;width:100%;}
.search-bar .form-control.subject,
.search-bar .group,
.search-bar .location{width:100%;margin-top:10px;}
.social-icon{width:40px;height:34px;margin:9px 3px;}
.menu{padding:0px 0px 0px 0px;}
.navbar-nav{margin:25px 0px;width:100%;text-align:center;}
.navbar-nav>li>a{color:#fff;font-size:20px;padding:10px 20px 9px 20px;border:1px solid transparent;transition:all 0.3s;margin:20px 0px;}
.navbar-nav>li>a::after{content:"";clear:both;display:block;width:62px;height:2px;background:#F14458;position:absolute;left:0;right:0;margin:10px auto;}
.navbar-nav>li>a{margin:20px 0px;}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus{border:1px solid transparent;}
ul.service-list li,
ul.right li{width:100%;margin:5px 0px 5px 0px;}
.tutor-about-child-sec ul.service-list{width:100%;text-align:center;}
.tutor-about-child-sec ul.benefit-area.right{width:100%;text-align:center;}
ul.service-list img,
ul.right img{display:block;margin:0 auto;}
.subject-category h3,
.subject-type{width:100%;text-align:center;font-size:20px;margin-bottom:10px;}
.subject-type span{margin:5px 0.5%;font-size:14px;}
.review-summery-list li{width:100%;margin-left:0px;}
.review-summery-list li img{width:100px;}
.review-summery-list li h4{font-size:16px;}
.review-english-btn{width:100%;}
.user-profile,
.review-desc{float:left;width:100%;text-align:center;}
.user-profile img{margin:0 auto;}
.user-profile h4{margin-left:0px;}
.review-date,
.like-box{float:none;display:block;text-align:center;margin:20px auto 0px auto;}
.tutor-about-child-sec h4::after{content:"";clear:both;display:block;width:25px;height:1px;background:#CBCBCB;margin:10px auto;}
.tutor-profile-info .desination{text-align:center;font-size:20px;}
.university img,
.tutor-activities img{margin:0 auto;}
.qualification-sec{margin:10px 0;}
.tutor-profile-info{font-size:16px;color:#848a8c;text-align:center;margin-top:0px;}
.tutor-activities h4{padding-right:0px;}
a.tutor-btn{font-size:15px;}
a.read-more-btn,
.tutor-img{margin:0 auto;}
.recent-request h4,
.recent-post-date{text-align:center;display:block;float:none;}
.recent-request h4{font-size:16px;}
.recent-post-date{font-size:18px;}
.request-form .req-header h1{font-size:24px;}
.how-work{bottom:10%;}
#how-it-work-btn{padding:5px 20px;font-size:15px;}
.navbar-nav li:hover ul{display:none;}
.video-slide{height:350px;}
.desktop{display:none;}
.mobile{display:block;}
.search-bar{position:relative;background:rgb(51, 51, 51);}
.inner-page-scroll-left{width:100%;}
.inner-header-logo{height:46px;padding:8px 10px;}
.inner-header-logo img{width:40px;}
.inner-header-serach-sec{line-height:36px;padding:0px 0px 0px 15px;height:36px;width:100%;margin:0 0px 4px 0px;text-align:center;border-radius:2px;}
.inner-header-serach-sec:hover{border-color:#aaa;}
.inner-header-serach-sec input[type="search"]{font-size:14px;padding:0 15px;background-size:15px;}
.inner-header .menu-bar{float:right;width:100%;background:#000;}
.search-icon{margin-top:10px;}
.tutor-form,
#lesson-options,
.hide-check-box-sec{padding-right:0px;padding-left:0px;}
button.checkbox-show{top:-35px;}
.filters-section{margin:0px 15px;}
.search-view .filters-section{margin:0px 15px;}
.filters-section{padding-bottom:30px;position:relative;}
.show-filters{padding:8px 14px;font-size:14px;}
#header{height:60px;}
.educator-img-txt{padding:12px 5px 1px 5px;}
#menu ul li .sub-menu{display:block;}
#menu ul li{padding:0 10px;float:none;display:block;text-align:left;}
#menu ul li a{font-size:14px;border-bottom:none;}
#menu ul li a:hover,
#menu ul li.active a,
#menu ul li a:focus{border-bottom:none;}
#menu ul li:first-child{padding-left:10px;}
#menu ul li .sub-menu{border-top:2px solid #848484;border-bottom:2px solid #848484;}
.inner-container{padding-left:10px;padding-right:10px;text-align:center;}
.checkbox_lesson_input input[type="checkbox"]{right:7px;}
.checkbox_lesson_label span{font-size:14px;margin-right:30px;}
.check-box-img{width:16px;}
.references-content{padding:20px 10px;}
#lesson-options .check-block{padding-left:0;padding-right:0;width:100%;margin-bottom:5px;}
.check-block{display:inline-block;width:100%;padding-left:0px;padding-right:0px;}
.search-view #lesson-options .checkbox_lesson_label,
.search-view .hide-check-box-sec .checkbox_lesson_label{width:auto;}
.references-content button.checkbox-show{right:15px;}
.references-content #lesson-options{padding-right:0px;padding-left:0px;position:initial;}
.flatbtn{padding:12px 0px;}
.creat-new-reference{width:180px;}
#tutor-filter-section #lesson-options,
#tutor-filter-section .hide-check-box-sec{padding-left:0px;padding-right:0px;}
.tutor-form{padding-left:15px;padding-right:15px;}
.references-content button.checkbox-show{top:12px;}
.form-block{padding-left:0;padding-right:0;}
.your-list img{float:right;display:inline-block;margin-top:10px;position:absolute;right:0;top:20px;}
.active-btn,
.pending-btn{width:80px;margin:auto;float:initial;}
.your-list-title{font-size:20px;font-size:16px;margin-top:10px;padding-left:0px;}
.your-list{position:relative;}
.tutor-form .check-block{margin:5px 0;padding-left:0;padding-right:0;width:100%;}
.material-list img{margin:10px auto 20px auto;}
.instant-book.request-check,
.superhost.request-check{display:inline-block;width:20%;float:left;}
.needsclick{display:inline-block;width:80%;}
.instant-book-filter{margin:10px 0px;}
.review-content-titles h3{font-size:16px;}
.review-content-titles h4{font-size:16px;}
.teach-child-sec-txt h1{font-size:24px;}
.dashboard-profile-picture img{width:100%;}
.resources-content .flatbtn{padding:3px 27px;width:100%;}
.reference-tab{padding:0px 15px;}
.reference-tab .filters-section{margin:0px 0px;}
.inner-page-scroll-left,#inner-page-main{position:relative;}
.inner-page-scroll-inner,.inner-page-scroll{overflow-y:initial;}
.neighborhoods .form-label{padding-left:0;}
.st-slider .item {width: 50%;}
.st-slider .item:nth-child(3n+1) {clear: initial;}
.st-slider .item:nth-child(2n+1) {clear: left;}
}
@media screen and (min-width:480px) and (max-width:767px){h1{font-size:26px;}
.search-bar .group{width:48%;margin-right:2%;}
.search-bar .location{width:48%;margin-left:2%;}
.search{background-position:41.5%;}
label.media.checkbox span{font-size:14px;}
.qualifications .check-block{padding-left:0;padding-right:0;width:100%;}
.tutify-fb-friends{width:50%;}
.request-check input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:before{width:17px;height:17px;font-size:13px;left:-1px;top:-1px;}
input[type="radio"],
input[type="checkbox"],
.input-prefix,
.input-suffix{border:1px solid #c4c4c4;width:18px;height:18px;}
label.media.checkbox span{padding-left:25px;margin-top:2px;}
#tutor-filter-section{padding-top:0px;}
}
@media screen and (min-width:0px) and (max-width:479px){h1{font-size:18px;}
.features{width:100%;}
.search-bar .form-control{width:100%;}
.search-bar .group,
.search-bar .location{width:100%;}
.engage-req-selection{width:100%;float:left;margin:10px 0%;}
.request-send{width:100%;margin:10px 0%;font-size:20px;padding:10px 0px;}
.subject-type span{width:25%;}
.header-review-stars-left,
.header-review-stars-search{width:100%;margin:10px 0px;text-align:center;}
.header-review-stars-left img,
a.read-more-btn{margin:0 auto;}
.review-search{float:none;text-align:center;}
.review-summery{text-align:center;}
#recent-download-sec img{width:30%;margin:0 1%;}
.search{background-image:none;padding:11px 0px;}
.video-slider-content h1{font-size:31px;}
#filter-fix-sec{padding:10px 15px;}
.sidebar-header h4{font-size:13px;}
.inner-page-tutor-review-sec .title{font-size:15px;}
#menu ul li{padding:0 6px;}
.check-block{width:100%;display:inline-block;padding:0;float:left;}
.qualifications .check-block{width:100%;}
.tutify-fb-friends{width:100%;}
.st-slider,
.st-slider .owl-item,
.st-slider .owl-item .item,
.st-slider .owl-wrapper{display:block !important;}
button.material-show{right:-11px;}
.course-link{display:block;border-right:0;}
.search-view .tooltip-pop{position:relative;}
.status-block{width:100%;margin-bottom:20px;}
.filter-btns{padding-bottom:50px !important;width:100% !important;}
.reference-tab{padding-bottom:50%;}
}
@media (max-width:767px){.tuti-form button.checkbox-show{top:0px;}
#lesson-options button.checkbox-show{padding:8px 3px 8px 4px;}
.references-content #lesson-options button.checkbox-show{margin-top:8px;right:0;}
.search-view .tutor_section #lesson-options button.service-show,
.search-view .assignment_section #lesson-options button.service-show,
.search-view .resources_section #lesson-options button.service-show{top:6px;}
.group-list-option .option-content{text-align:center;}
.notification-list li h4{font-size:12px;width:84%;}
.notification-list li img{margin-top:18px;}
.search-view{padding-top:50px;}
.filter-btns{width:80%;padding:8px;}
.resp-tabs-list{display:none !important;}
.feedbackDesc{margin-top:20px;}
.subscribe-tutor-btn{width:auto;}
button.checkbox-show img{display:none;}
button.checkbox-show::after{bottom:-20px;color:#767676;content:'+  more';font-weight:bold;font-size:14px;left:0;position:absolute;text-transform:capitalize;top:0;}
button.checkbox-show{bottom:-35px;left:0;height:30px !important;padding:0px 0px 0px 0px !important;top:initial !important;width:50px;}
.container{padding-left:15px;padding-right:15px;}
.padding-xs-0{padding-left:0;padding-right:0;}
.privacy-sec .text-right{text-align:center;}
.label-success{margin-top:20px;}
.additional-specification-child{position:relative;width:100%;display:inline-block;}
}
@media screen and (min-width:560px) and (max-width:767px){.search-view .tooltip-pop{position:relative;}
}
@media screen and (min-width:480px) and (max-width:559px){.search-view .filters-section{margin:0px 2px;}