.steps{display: none !important;}
.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 0 0.5em 0;
    width: 100%;
}
.wizard > .content > .body {
    float: left;
    position: relative;
    width: 100%;
    /* height: 95%; */
    padding: 0px;
}
.wizard > .content {
    background: #fff;
}
.form-horizontal .control-label{
    text-align: left;
}
.payment-form input[type="radio"]{
    display: inline-block !important;
}
.payment-form input[type="radio"]::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 18px;
    height: 18px;
    border: 1px solid #bfbfbf;
    border-radius: 22px;
}
.payment-form input[type="radio"]:checked:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 18px;
    height: 18px;
    border: 1px solid #bfbfbf;
    border-radius: 22px;
    background: #fff url('../images/red_bullit.png') no-repeat center !important;
}
.para{
    margin: 9px 0px 8px 0px;
}
.payout_modal .modal-body{
    padding: 0px;
}
.payout_modal .actions ul li a, .payout_modal .actions ul li a:hover {
    border: 1px solid #ff5a5f !important;
    background: #ff5a5f !important;
    color: #fff !important;
    padding: 10px 26px;
    font-size: 14px;
    border-radius: 3px;
}
.payout_modal .actions ul li:first-child a, .payout_modal .actions ul li:first-child a:hover {
    background-color: #fff !important;
    border: 1px solid #c4c4c4 !important;
    color: #484848 !important;
    padding: 10px 28px;
    font-size: 14px;
}
.payout_modal .wizard.vertical > .actions{
    border-top: 1px solid #dce0e0;
    padding: 20px;
    margin: 0px;
    width: 100%; 
}
.wizard > .actions > ul{
    display: block;
    float: right;
}
.payout_modal #multiphase .content{
    padding: 20px; 
    padding-bottom: 6px;
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 20px;
    position: relative;
}
.wizard > .content > .body input,.wizard > .content > .body select {
    height: 40px;
}
.wizard > .content > .body input[type="radio"],.wizard > .content > .body input[type="checkbox"]{
    height: auto;
}

.wizard > .content > .body .form-group{
    margin-bottom: 5px;
}
.wizard > .content > .body .form-control{
    border-radius: 2px;
}
.wizard > .content > .body select.select-arrow{
    background-position: 98% center !important;
}
.wizard > .content > .body select~i{
    margin-right: 16px;
    margin-top: 3px;
}
.radio-label{
    padding: 0px !important;
}
/* .wizard > .content > .body input[type="radio"]{
    height: auto;
    position: absolute;
    top: 6px;
    left: -6px;
    bottom: initial;
} */

.payout_modal .modal-body {
    overflow: auto;
    max-height: 100%;
}
.payout_modal .wizard > .content {
    min-height: initial;
}

.help-block {
    color: #ff5a5f !important;
}